/* nav bar */
.topnav{
    background-color: black;
    overflow: visible;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.button{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    font-variant-caps: all-petite-caps;
}

.button:hover{
    background-color: #ddd;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.5s, color 0.3s;
    cursor: pointer;
}

/*message*/
.flashes{
    position: fixed;
    background-color: rgb(2, 2, 2);
    color: white;
    align-items: center;
    margin-top: 6vh;
    float: right;
    margin-left: 79.9%;
    padding: 10px;
    border: white solid 2px;
    /* Safari and Chrome */
    animation: cssAnimation 0s ease-in 2s forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility: hidden;
    }
}

/* search bar */

.top-nav-search{
    float:right;
}

.top-nav-search input{
    font-size: 23px;
    margin-top: 8px;
    float: left;
    padding: 6px;
    border: none;
    width: 80%;
}

.top-nav-search button{
    margin-top: 8px;
    float: left;
    background: grey;
    cursor: pointer;
    width:15%;
    height: fit-content;

}

.autocomplete{
    position: relative;
    display: inline-block;
}

.autocomplete-items{
    position: absolute;
    z-index: 50;
    top: 100%;
    left: 0;
    right: 0;
    width: 84%;
}

.autocomplete-items div{
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    z-index: 90;
}

.autocomplete-items div:hover{
    background-color: #e9e9e9; 
}

body{
    margin:0;
    background-color: black;
}

/* scroll down arrow */
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke:rgb(0, 250, 250);
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow 
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; 
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;}


/* ethinicity page css*/
.body-paragraph{
    padding-top: 10vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 15vw;
    margin-right: 15vw;
    background-image:linear-gradient(to right, black, rgb(37, 37, 37), black);
    text-align: center;
}


.parallex{
    height: 100vh;
    min-width: 100%;
    background-attachment: fixed;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
}


.align-middle{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
}

.title{
    padding:24px 48px;
    color:#fff;
    background-color:#C3BEF7;
    font-size:30px;
    letter-spacing:4px;
    border-style: solid;
    border-color: black;
    font-variant-caps: all-petite-caps;
    width: 100%;
    text-align: center;
}

.body-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top:20px;
    padding-bottom: 20px;
    color: white;
}

.body-title{
    color: white;
    padding-top:15px;
    padding-bottom: 15px;
    font-size: 30px;
    font-variant-caps: all-petite-caps;
}

.parent-link-country{
    display:flex;
}

.link-country{
    display: inline-block;
    padding: 10px;
    width: 25%;
    color: white;
    font-variant-caps: all-petite-caps;
    font-size: medium;
    border: double whitesmoke;
    text-align: center;
    text-decoration: none;
}

.link-country:hover{
    background-color: #ddd;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.5s, color 0.3s;
    cursor: pointer;
}

/* country page css */
.country-img{
    width: 100%;
    height: 90%;
}

.top-picture{
    width: 100%;
    object-fit: cover;
    height: 30vh;
    object-position: 0% 40%;

}

.align-top{
    position: absolute;
    top:18%;
    left:47%;
    transform:translate(-50%,-50%);
    width: 20vw;
    align-items: center; 
}

.country-side-bar{
    width:7%;
    background-color:rgb(20, 20, 20);
    margin:0;
    position: fixed;
    height: 100%;
    margin-top: 5vh;
}

.country-side{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    text-decoration: none;
}

.country-side:hover{
    background-color: white;
    color: black;
    text-decoration: none;
    
}

.icon{
    width: 40%;
    padding:20px;
}

.country-side:hover > .icon{
    background: black;
    mix-blend-mode: difference;
    cursor: pointer;
}

.country-side-item{
    color: #f2f2f2;
    padding: 20px;
    text-decoration: none;
    font-size: 12px;
}


.country-body{
    margin-left: 10%;
    border-style: solid;
    background-color: black;
    margin-right: 15vw;
    padding-top: 10vh;
    background-attachment: fixed;
    padding-left: 2vw;
}

.line{
    float: left;
    opacity: 70%;
}

.country-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top:20px;
    padding-bottom: 20px;
    color: silver;
    text-align: left;
    opacity: 50%;
    padding-bottom: 10vh;
    letter-spacing: 3px;
}

.country-footer{
    color: white;
    font-size: 25px;  
    margin-left: 7%; 
}

.parent-link-building{
    display:flex;
    margin-left :10%;
    height: 20vw;
}

.link-building{
    margin: 10px;
    display: inline-block;
    width: 40%;
    height: 300px;
    border: 1px solid white;
    overflow: hidden;
    position: relative;
}

.link-building-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all .5s;
}

.link-building:hover .link-building-img, .link-country:focus .link-building-img{
    transform:scale(1.2);
}

.link-building-img::before{
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(52, 73, 94, 0.75);
    cursor: pointer;
}

.link-building:hover .link-building-img::before, .link-building:focus .link-building-img::before{
    display: block;
}

.link-building-text{
    color: white !important; 
    font-family: sans-serif;
    padding: 25%;
    position: absolute;
    font-size: 15px;
    display:none; 
}

.link-building:hover .link-building-text, .link-building:focus .link-building-text{
    display: block;
}

/* building */

.building-icon-bar{
    float: left;
    height: 100vh;
    width: 3%;
}

.building-home{
    float: left;
    width: 100%;
    color: white;
    text-decoration-line: none;
    position: sticky;
    top: 10px;
}

.build-home{
    width: 100%;
    padding:0px;
}

.padding{
    margin-top: 16px;
    padding-left: 3%;
    padding-top: 0px;
    padding-right: 3%;
    padding-bottom: 0px;
}

.building-side-bar{
    float: left;
    width:30%;
    margin:0;
    height: 100vh;
}

.building-side-pad{
    padding-left: 8px;
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 0px;
    height: 100%;
}

.container{
    top: 0px;
    position: sticky;
    background-color:rgb(37, 37, 37);
    font-size: 15px;
}

.building-side-img{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    color:white;
    text-decoration: none;
    padding: 0;
}

.building-side-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: block;
    padding: 10px;
    text-decoration-line: underline;
    font-size: 17px;
}

.building-side-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    display: block;
    padding: 10px;
}

.building-icon{
    width: 25%;
    height: fit-content;
    padding-left: 20px;
}

.building-body{
    float:left;
    width: 70%;
}

.building-design-div{
    background-color: rgb(37, 37, 37);
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.building-history-div{
    background-color: rgb(37, 37, 37);
    padding-left: 10px;
    padding-right: 10px;
}

.building-title{
    padding-bottom: 16px;
    padding-top: 16px;
    color:rgb(255, 255, 255);
    font-family:sans-serif;
    font-size: 30px;
    font-variant-caps: all-petite-caps
}

.building-text{
    padding-left: 10px;
    padding-right: 10px;
    color: grey;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.building-text-title{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration-line: underline;
    font-variant-caps:all-small-caps;
}


/* footer */
.footer{
    color: white;
    font-size: 25px;   
}