{% extends 'layout.html' %}
{% block content %}

<div class ='country-side-bar' >
    <a href='\' class= 'country-side'>
        <img src='\static\icon\home.png' alt='home_icon' class='icon'>
        HOME
    </a>
    <a href='#about' class= 'country-side'>
        <img src='\static\icon\about.png' alt='about_icon' class='icon'>
        ABOUT
    </a>
    <a href='#history' class= 'country-side'>
        <img src='\static\icon\history.png' alt='history_icon' class='icon'>
        HISTORY
    </a>
    <a href='#geography' class= 'country-side'>
        <img src='\static\icon\geography.png' alt='geography_icon' class='icon'>
        GEOGRAPHY
    </a>
</div>

<embed class= 'top-picture' src= "{{item[6]}}">
<div class='align-top'>
    <div class='title'>
        {{item[1]}}
    </div>
</div>

<div class='country-body'>
    <div class='body-title' id ='about'>
        about
    </div>
    <hr style='width:200px' class ='line'>
    <div class='country-text'>
        {{item[2]}}
    </div>
    <div class='body-title' id='history'>
        history
    </div>
    <hr style='width:200px' class ='line'>
    <div class='country-text'>
        {{item[3]}}
    </div>
    <div class='body-title' id='geography'>
        geography
    </div>
    <hr style='width:200px' class ='line'>
    <div class='country-text'>
        {{item[4]}}
    </div>

    <div class= 'parent-link-country'>
        {% for buildid in build[row[0]-1] %}
        <a href='\country\{{row[2]}}' class = 'link-country'>
            {{countryid[1]}}
            <img class='country-img' src="{{row[0]}}" alt="{{row[1]}}">
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}