{% extends 'layout.html' %}
{% block content %}

<!--side bar with link to different sections and home page -->
<div class ='country-side-bar' >
    <a href='\' class= 'country-side'>
        <img src='\static\icon\home.png' alt='home_icon' class='icon'>
        HOME
    </a>
    <a href='#about' class= 'country-side'>
        <img src='\static\icon\about.png' alt='about_icon' class='icon'>
        ABOUT
    </a>
    <a href='#history' class= 'country-side'>
        <img src='\static\icon\history.png' alt='history_icon' class='icon'>
        HISTORY
    </a>
    <a href='#geography' class= 'country-side'>
        <img src='\static\icon\geography.png' alt='geography_icon' class='icon'>
        GEOGRAPHY
    </a>
</div>

<!--top picture with title-->
<embed class= 'top-picture' src= "{{item[6]}}">
<div class='align-top'>
    <div class='title'>
        {{item[1]}}
    </div>
</div>

<!--body div with three different sections containing infomations-->
<div class='country-body'>
    <div class='body-title' id ='about'>
        about
    </div>
    <hr style='width:200px' class ='line'>
    <div class='country-text'>
        {{item[2]}}
    </div>
    <div class='body-title' id='history'>
        history
    </div>
    <hr style='width:200px' class ='line'>
    <div class='country-text'>
        {{item[3]}}
    </div>
    <div class='body-title' id='geography'>
        geography
    </div>
    <hr style='width:200px' class ='line'>
    <div class='country-text'>
        {{item[4]}}
    </div>
</div>

<!--picutres with links to the building page-->
<div class= 'parent-link-building'>
    {% for buildid in build[item[0]-1] %}
    <a href='\building\{{buildid[1]}}' class = 'link-building'>
        <div class='link-building-img' style= 'background-image: url({{buildid[0]}})' alt="{{buildid[2]}}">
            <div class = link-building-text>{{buildid[2]}}</div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}