{% extends 'layout.html' %}
{% block content %}
{% for ethnicityid in row %}
<div class='parallex' id='{{ethnicityid[1]}}' style = 'background-image: url({{ethnicityid[3]}})'>
    <div class='align-middle'>
        <span class='title'>
            {{ethnicityid[1]}}
        </span>
    </div>
</div>

<div class='body-paragraph'>
    <div class='body-title'>
        {{ethnicityid[1]}}
    </div>
    <div class='body-text'>
        {{ethnicityid[2]}}
    </div>
</div>

<div class= 'parent_link_country'>
    {% for ethnicityid in row%}
    <span class = 'link_country'>
        {{ethnicityid[6]}}
    </span>
    <span class = 'link_country'>
        {{ethnicityid[6]}}
    </span>
    <span class = 'link_country'>
        {{ethnicityid[6]}}
    </span>
    <span class = 'link_country'>
        {{ethnicityid[6]}}
    </span>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}